@model ProductViewModel

<div id="add-product-form">
    @await Html.PartialAsync("_AddProductForm", new ProductViewModel())
</div>

<template>
    <tbody hx-swap-oob="beforeend:#product-table-body">
        @await Html.PartialAsync("_ProductRow", Model)
    </tbody>
</template>
<input type="checkbox" id="select-all" hx-swap-oob="true"
       hx-on:change="document.querySelectorAll('input[name=selectedIds]').forEach(cb => cb.checked = this.checked);
                              document.getElementById('statusDropdown').disabled=!this.checked;">
@await Html.PartialAsync("_InventoryTotalOob")
