@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>

<body hx-headers='{"RequestVerificationToken": "@AntiForgery.GetAndStoreTokens(Context).RequestToken"}'>
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3 px-5">
            <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Index">Inventory Management</a>
            <div class="navbar-brand text-end" id="inventory-total"> Total Price: $@Model.TotalPrice</div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</body>
</html>
